.horizontal-center { @extend %horizontal-center; }
%horizontal-center {
  margin: 0 auto;
}

.vertical-center { @extend %vertical-center; }
%vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.pull-r { @extend %pull-r; }
%pull-r {
  float: right;
}

.pull-l { @extend %pull-l; }
%pull-l {
  float: left;
}

// Clearfix
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}