* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  width: 100%; 
  background-color: #ffffff;
  text-rendering: optimizelegibility;
  text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Condensed', sans-serif;
}

%fixed-pos {
  position: absolute;
  width: 100%;
  height: 100px;
}

h1,
h2,
.h2 {
  text-transform: uppercase;
}

h2,
.h2 {
  display: inline;
  font-weight: bold;
  @include respond-to(small) {
    line-height: 1.4;
    font-size: 0.8em;
  }
}

h2,
.ext-link {
  @include respond-to(small) {
    display: block;
  }
}

p {
  font-size: .8em;
}

.text-link {
  text-decoration: none;
  border-bottom: 2px dotted $primary-color;
  &:hover,
  &:focus {
    border-bottom: 2px solid;
  } 
}

.container {
  background-color: $primary-color;
  position: relative;
  height: 90%;
  // min-height: 500px;
}

.ep-url {
  font-weight: normal;
  color: $primary-color;
  &:after {
    font-family: 'FontAwesome';
    content: '\f08e';
    margin-left: 5px;
    font-size: 0.8em;
  }
}

.ext-link {
  color: $primary-color;
  font-size: 0.7em;
  text-decoration: none;
  margin-left: 10px;
  &:before {
    content: '/';
    color: white;
    margin-right: 5px;
  }
  @include respond-to(small) {
    margin-left: 0;
    margin-top: 10px;
    &:before {
      display: none;
    }
  }
}

header {
  @extend %fixed-pos;
  padding: 20px;
}

footer {
  background-color: $secondary-color;
  color: white;
  padding: 30px;
  .social {
    a {
      color: white;
      text-shadow: none;
    }
  }
}

nav {
  text-align: center;
  li {
    display: inline;
    margin-right: 20px;
  }
}

.social {
  font-size: 2em;
  a {
    color: $secondary-color;
    text-shadow: 2px 2px 0 white;
    i {
      transition: all .2s ease-out;
      transform: scale(1);
      backface-visibility: hidden;
      transform: translate3d(0,0,0);
    }
    &:hover,
    &:focus {
      i {
        backface-visibility: hidden;
        transform: translate3d(0,0,0) translateZ(0) scale(1.2);
      }
    }
  }
}

.intro {
  height: 100%;
  padding: 100px 0;
  h1 {
    max-width: 600px;
    padding: 50px;
    margin: 0 auto;
    @extend %vertical-center;
  }
}

.logo {
  @include paddingBottom(1820, 1644, 100);
  display: block;
  width: 100%;
  text-indent: -9999px;
  background: {
    image: url('../img/reel2reel-2x.png');
    repeat: no-repeat;
    size: 100%;
  }
  @include respond-to(small) {
    background-image: url('../img/reel2reel.png');
  }
}

.latest-ep {
  @extend %fixed-pos;
  text-align: center;
  bottom: 0;
  color: white;
  background-color: $secondary-color;
  padding: 30px;
  @include respond-to(small) {
    padding: 20px;
  }
  a {
    &:hover,
    &:focus {
      color: white;
    }
  }
}

.ep-description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  @include respond-to(small) {
    display: none;
  }
}

.content {
  margin: 30px auto 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 50px 30px;
  p {
    font-size: 2em;
    line-height: 1.3;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
  strong {
    font-weight: bold;
  }
  em {
    color: darken($primary-color, 10%);
  }
  @include respond-to(small) {
    p {
      width: 100%;
      font-size: 1.5em;
    }
  }
}

$head-size: 300px;

.person {
  position: relative;
  height: $head-size;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: $head-size;
    height: $head-size;
  }
  h2 {
    @extend %vertical-center;
    color: $secondary-color;
    text-transform: none;
    font-size: 5em;
    padding: 20px 40px;
    border-radius: 50px;
    background-color: $primary-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    a {
      color: #55acee;
      transition: color .5s ease;
      &:hover,
      &:focus {
        color: white;
      }
    }
  }
  @include respond-to(small) {
    $head-size: 100px;
    height: $head-size;
    margin-bottom: 20px;
    &:before {
      width: $head-size;
      height: $head-size;
    }
    h2 {
      font-size: 2em;
      text-align: center;
    }
  }
}

.mike {
  padding-left: $head-size;
  &:before {
    left: 0;
    background: {
      image: url("../img/Mike.png");
      repeat: no-repeat;
      size: 100%;
    }
  }
  h2:before {
    @include triangle(right, $primary-color, 15px, 15px, 25px);
    left: -15px;
  }
  @include respond-to(small) {
    $head-size: 100px;
    padding-left: $head-size;
  }
}

.mark {
  text-align: right;
  padding-right: $head-size;
  margin-bottom: 160px;
  &:before {
    right: 0;
    background: {
      image: url("../img/Mark.png");
      repeat: no-repeat;
      size: 100%;
    }
  }
  h2:before {
    @include triangle(left, $primary-color, 15px, 15px, 25px);
    right: -15px;
  }
  @include respond-to(small) {
    $head-size: 100px;
    margin-bottom: 50px;
    padding-right: $head-size;
  }
}

.twitter-widget {
  text-align: center;
  margin: 160px 0;
  @include respond-to(small) {
    margin: 60px 0;
    height: 200px;
    overflow: hidden;
  }
}

.list {
  background-color: $primary-color;
  .text-link {
    border-bottom: 3px dotted white;
    color: black;
    &:hover {
      border-bottom: 3px solid white;
    }
  }
}

.ep-list {
  margin: 30px 0 100px 0;
  line-height: 2;
  font-size: 1.3em;
  li {
    a {
      &:after {
        font-family: 'FontAwesome';
        content: '\f08e';
        margin-left: 5px;
        font-size: 0.8em;
      }
    }
    @include respond-to(small) {
      margin: 10px 0;
    }
  }
  @include respond-to(small) {
    font-size: 1em;
    margin-bottom: 30px;
  }
}

@media (max-width: 773px) and (max-height: 435px) {
  .container {
    min-height: 600px;
  }
  .intro {
    h1 {
      max-width: 400px;
    }
  }
}

@media only screen and (max-width: 320px) { 
  .person h2 {
    padding: 10px;
    font-size: 1.7em;
  }
}